!!! 5
html(lang="en")
  head
    title DyNAMiC Workbench
    - var resources = manifest.getResources(true,env);
    - var dynamic = manifest.getDynamicResources();
    - var bootstrap = manifest.bootstrap;
    
    // Stylesheets
    - each sheet in resources.links
      link(rel="stylesheet",href=sheet)
    

    // Javascript 
    script(type="text/javascript", src="/socket.io/socket.io.js")

    // - env = 'production';
    if env == 'production'
      script(type="text/javascript", src="all.js")
    else
      each script in resources.scripts
        script(type="text/javascript", src=script)
        
    each script in dynamic
      script(type="text/javascript", src=script)
    
    script(type="text/javascript", src=bootstrap)
    
  body
    div#loading_mask
      div#loading
        img(src="images/icons/loading.gif", alt="loading")
        span= "Loading..."
        