!!! 5
html(lang="en")
  head
    title DyNAMiC Workbench
    - var scriptPath = 'client';
    - var libPath    =  'lib'; // scriptPath + '/lib';
    - var extPath    =  libPath + '/ext-4.0.1';
    - var stylePath  = 'static/styles';
    - var extStyles  =  extPath + '/resources/css/ext-all';
    - var codeMirrorPath    =  libPath + '/CodeMirror-2.11';
    - var styles    = [extStyles,'styles/canvas','styles/icons','styles/infomachine',libPath+'/color-field-1.0.0/color-field',codeMirrorPath+'/lib/codemirror',codeMirrorPath+'/theme/default',libPath+'/valums-file-uploader/client/fileuploader',libPath+'/ux/css/CheckHeader'];
    - each sheet in styles
      link(rel="stylesheet",href=sheet+".css")
    
    // ExtJS 4
    script(src=extPath+"/bootstrap.js", type="text/javascript")

    // Libraries
    - var libs = ['jquery-1.5.1.min', 'underscore', 'string', 'color-field-1.0.0/color-field', 'raphael/raphael-min', 'raphael/plugins/raphael.primitives', 'CodeMirror-2.11/lib/codemirror', 'CodeMirror-2.11/lib/runmode', 'valums-file-uploader/client/fileuploader', 'dna-utils', 'Ext.ux.StatusBar', 'protovis-3.2/protovis-d3.2'];
    - each lib in libs
      script(type="text/javascript", src=libPath+"/"+lib+".js")
    
    // Ext UX
    - var uxs = ['RowExpander','CheckColumn'];
    - each ux in uxs
      script(type="text/javascript", src=libPath+"/ux/"+ux+".js")
    
    // CodeMirror modes
    - var modes = ['javascript','stex','xml','diff','htmlmixed','css','clike'];
    - each mode in modes
        script(type="text/javascript", src=codeMirrorPath+"/mode/"+mode+"/"+mode+".js")
        - if(mode == 'diff')
            link(rel="stylesheet", href=codeMirrorPath+"/mode/"+mode+"/"+mode+".css")
    
    // App and InfoMachine
    script(type="text/javascript", src=scriptPath+"/app.js")

    script(type="text/javascript")
      App.baseUrl = 'http://192.168.56.10:3000'; 
      App.scriptsUrl = '/scripts'; 
      App.setEndpoint('upload','upload');//'../upload.php');
      App.setEndpoint('save','save');
      App.setEndpoint('load','load');
    script(type="text/javascript", src="/user")
    script(type="text/javascript", src="/toolslist")
    
    script(type="text/javascript", src=scriptPath+"/documents.js")

    // Canvas workspace
    - var scripts = ['ext-bug-fixes','core','canvas','workspace',]; //'objects/objects', 'objects/element', 'objects/vector', 'objects/semantics','tools/tools','tools/draw','tools/annotate',
    - scripts = scripts.concat(['console','codemirror-modes','dd']); //'dna/nodal/nodal-canvas','dna/nodal/dna','dna/nodal/nodal', 'dna/secondary/secondary', 'dna/primary/primary',]);
    - each script in scripts
      script(type="text/javascript", src=scriptPath+'/'+script+'.js')
  
  body
    div#loading_mask
      div#loading
        img(src="icons/loading.gif", alt="loading")
        span
        | Loading...
        